* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: whitesmoke;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  /* height: 100vh; */
}

.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  cursor: pointer;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.menu span {
  width: 50px;
  height: 5px;
  background: tomato;
  margin: 5px 0;
  transition: 0.5s all ease-in-out;
  display: block;
}

.menu span:nth-child(1).rotate {
  /* transform: rotate(45deg) translateY(21px) translateX(px); */
  transform: rotate(45deg) translate(10px, 11px);
}

.menu span:nth-child(2).rotate {
  /* transform: scale(0); */
  transform: translateX(200px);
}


.menu span:nth-child(3).rotate {
  /* transform: rotate(-45deg) translateY(-21px) translateX(5px); */
  transform: rotate(-45deg) translate(10px, -11px);
}